#============BASIC================
__pycache__
.vscode
.history
.hypothesis/
build/
autoppia_btcli.egg-info/
contracts/.idea
.idea
artifacts/
.vscode/
*__pycache__
pycache/
*/pycache/
*.py[cod]
.vs/
setup.txt
#============CUSTOM=============
.env
bittensor_env
bittensor_env/
venv
venv/
envs/
myenv
.env_dev
.env_prod
.envDev
.envProd
codeTraduction/
secrets/
devops/envs/
myenv/
config/static/
database_manager